@charset "utf-8";

@keyframes manifest-skuld {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes mjolnir {
	0% {
		width: 0px;
		height: 0px;
	}
	25% {
		width: 40px;
		height: 0px;
	}
	50% {
		width: 40px;
		height: 0px;
	}
	100% {
		width: 40px;
		height: 60px;
	}
}
@keyframes engrave {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes ascente-skuld {
	0% { top: 0px }
	100% { top: -100px }
}
@keyframes manifest-verdandi {
	0% { transform: scale(0) }
	50% { transform: scale(1.1) }
	100% { transform: scale(1) }
}
@keyframes requiem {
	0% { transform: rotate(0deg) }
	100% {transform: rotate(-360deg) }
}

@keyframes manifest-urd {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes manifest-urd-arc {
	0% { width: 0px; }
	50% { width: 400px; }
	75% { width: 330px; }
	85% { width: 390px; }
	90% { width: 345px; }
	98% { width: 360px; }
	100% { width: 350px; }
}
@keyframes siesta-urd {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes siesta-urd-arc {
	0% { width: 350px; }
	100% { width: 0px; }
}

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 11pt;
	font-family: "Rounded Mplus 1c", "Meiryo UI", "メイリオ";
}
body {
	background: #003366;
	margin: 0 auto;
}

#verdandi li {
	position: relative;
}
	#verdandi li .tooltip {
		visibility: hidden;
		position: absolute;
		top: 112%;
		left: 40px;
		margin-left: -60px;
		z-index: 1;
		width: 100px;
		color: #fff;
		background: #005599;
		border-radius: 3px;
		text-align: center;
		padding: 0.3em;
		opacity: 0;
		transition: 0.5s;
	}
	#verdandi li:hover .tooltip {
		visibility: visible;
		opacity: 1;
	}
	#verdandi li .tooltip::after {
		content: " ";
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent #005599 transparent;
	}
