@charset "utf-8";

@keyframes manifest-skuld {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes mjolnir {
	0% {
		width: 0px;
		height: 0px;
	}
	25% {
		width: 40px;
		height: 0px;
	}
	50% {
		width: 40px;
		height: 0px;
	}
	100% {
		width: 40px;
		height: 60px;
	}
}
@keyframes engrave {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes ascente-skuld {
	0% { top: 0px }
	100% { top: -50px }
}
@keyframes manifest-verdandi {
	0% { transform: scale(0) }
	50% { transform: scale(1.1) }
	100% { transform: scale(1) }
}
@keyframes requiem {
	0% { transform: rotate(0deg) }
	100% {transform: rotate(-360deg) }
}

@keyframes manifest-urd {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: none;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@keyframes manifest-urd-arc {
	0% { width: 0px; }
	50% { width: 400px; }
	75% { width: 330px; }
	85% { width: 390px; }
	90% { width: 345px; }
	98% { width: 360px; }
	100% { width: 350px; }
}
@keyframes siesta-urd {
	0% {
		display: block;
		opacity: 1;
	}
	1% {
		display: none;
		opacity: 1;
	}
	100% {
		display: none;
		opacity: 0;
	}
}
@keyframes siesta-urd-arc {
	0% { width: 350px; }
	70% { width: 400px; }
	100% { width: 0px; }
}
@keyframes ubergang-hide {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}
@keyframes ubergang-show {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 11pt;
	font-family: "Rounded Mplus 1c", "Meiryo UI", "メイリオ";
	scrollbar-base-color: transparent;
}
*::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}
*::-webkit-scrollbar-track {
	background: #ccc;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 10px;
}
html {
	background: url("../img/bg/wood_ptn.png");
}
body {
	margin: 0 auto;
}

	header nav {
		position: fixed;
		top: 1em;
		left: 1em;
		cursor: pointer;
		transition: 0.5s;
		z-index: 100;
	}
		#btn-menu-open, #btn-menu-close {
			font-size: 25pt;
			width: 83px;
			height: 83px;
			box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
			color: #444;
			background: #fff;
			border-radius: 50%;
			text-align: center;
			line-height: 83px;
		}
		#btn-menu-close {
			display: none;
		}

	article#eins {
	}
		#eins * {
			color: #ccc;
		}
		#eins ul {
		}

		#urd {
			width: 300px;
			height: 100%;
			position: fixed;
			z-index: 50;
			float: left;
			margin-top: 120px;
			display: none;
			opacity: 0;
		}
			#urd ul {
				list-style-type: none;
				margin: 0;
				padding-top: 1em;
				padding-left: 30px;
			}
				#urd ul li {
					border-bottom: 3px dotted #999;
				}
					#urd ul li a {
						padding: 1.5em 0.5em;
						display: block;
						font-size: 15pt;
						text-decoration: none;
						transition: 1s;
					}
						#urd ul li a i {
							font-size: 15pt;
							margin-right: 1em;
							width: 1em;
							transition: 1s;
						}
						#urd ul li a:hover {
							margin-left: 1em;
						}
						#urd ul li a:hover i{
							transform: rotate(360deg);
						}

		#urd-arc {
			width: 0;
			height: 150%;
			background: rgba(32, 32, 32, 0.7);
			position: fixed;
			top: -25%;
			border-radius: 0 50% 50% 0;
			box-shadow: 0 0 5px 3px #000;
			z-index: 10;
		}

	#ragnarok {
		background-image: url("../img/bg/1.jpg");
		background-size: cover;
		background-position: center;
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	}
	#ragnarok, #ragnarok article {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		transition: 1s;
	}
		article section * {
			color: #fff;
		}
		article section h3 {
			font-size: 22pt;
			padding: 0.5em 0;
		}

	article#zwei {
		width: 500px;
		height: 300px;
	}
		#skuld {
			opacity: 0;
		}
		#skuld:before, #skuld:after {
			content: "";
			position: absolute;
			display: inline-block;
		}
		#skuld:before {
			border-left: 1px solid #fff;
			border-top: 1px solid #fff;
			left: 0;
			top: 0;
		}
		#skuld:after {
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			right: 0;
			bottom: 0;
		}
			#skuld div:first-child {
				text-align: center;
			}
			#skuld img {
				width: 180px;
				padding: 15px;
				border: 5px solid #fff;
				border-radius: 50%;
				transition: 0.5s;
			}
			#skuld img:hover {
				background: #222;
			}
			#skuld h2 {
				text-align: center;
				color: #eee;
				font-size: 25pt;
				font-family: "Titillium Web";
				opacity: 0;
			}

	#verdandi {
	}
		#verdandi ul {
			list-style-type: none;
			margin-top: 25px;
			display: flex;
			justify-content: center;
			transform: scale(0);
		}
			#verdandi ul li {
				position: relative;
				display: inline-block;
				margin: 0 1em;
				padding: 5px;
				border: 3px solid transparent;
				transition: 0.5s;
				cursor: pointer;
				box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
				border-radius: 50%;
				width: 60px;
				height: 60px;
			}
				#verdandi ul li i {
					font-size: 20pt;
					text-align: center;
					line-height: 60px;
					background: #fff;
					color: #444;
					transition: 0.5s;
					border-radius: 50%;
					width: 60px;
					height: 60px;
				}

			#verdandi ul li:hover {
				border: 3px solid #222;
				border-radius: 50%;
				background: #222;
			}
			#verdandi li .tooltip {
				visibility: hidden;
				position: absolute;
				top: 112%;
				left: 40px;
				margin-left: -60px;
				z-index: 1;
				width: 100px;
				color: #fff;
				background: #222;
				border-radius: 3px;
				text-align: center;
				padding: 0.3em;
				opacity: 0;
				transition: 0.5s;
			}
			#verdandi li:hover .tooltip {
				visibility: visible;
				opacity: 1;
			}
			#verdandi li .tooltip::after {
				content: " ";
				position: absolute;
				bottom: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent #222 transparent;
			}

	article#drei *, article#vier * {
		color: #ddd;
	}

	article#drei, article#vier {
		opacity: 0;
		transform: scale(0);
		padding: 1em;
		background: rgba(0, 0, 0, 0.5);
		overflow: auto;
	}
		#vidar > img {
			display: block;
			margin: 0 auto;
			border-radius: 50%;
			box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
		}
		#drei h3 {
			font-size: 25pt;
			font-weight: bold;
		}
		#drei ul {
			list-style-type: none;
			background: rgba(0, 0, 0, 0.5);
			padding: 0.5em;
		}
			#drei ul li {
				font-size: 12pt;
				line-height: 2em;
			}
				#drei ul li a {
					font-size: 12pt;
				}
				#drei ul li a:hover {
					color: #aaa;
				}
					#drei ul li a i {
						margin-right: 0.5em;
					}


/* animation */
#skuld {
	animation: manifest-skuld 1s ease 0.5s 1 forwards;
}
#skuld h2 {
	animation: engrave 1s linear 0.5s 1 forwards;
}
#skuld:before, #skuld:after {
	animation: mjolnir 1s linear 1.5s 1 forwards;
}
#zwei {
	animation: ascente-skuld 1s linear 3.5s 1 forwards;
}
#verdandi ul {
	animation: manifest-verdandi 1s ease 5s 1 forwards;
}
#skuld img {
	animation: requiem 128s linear 5s infinite;
}

