@charset "utf-8";
	#ragnarok {
		width: 100%;
		height: 80%;
	}
	article#zwei {
		position: absolute;
		top: 0px;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 90%;
		height: 300px;
	}

			#skuld img {
				width: 150px;
			}
			#verdandi ul li {
				margin: 0 0.5em;
			}


