@charset "utf-8";

	header {
		display: none; /*wip*/
	}
		header nav {
		}
		header nav:hover {
		}
			#btn-menu {
			}

	article#eins {
	}
		#eins * {
			color: #fff;
		}
	article#zwei {
		position: absolute;
		top: 0px;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 90%;
		height: 300px;
	}

		#skuld {
			opacity: 0;
		}
			#skuld div:first-child {
				text-align: center;
			}
			#skuld img {
				width: 150px;
				padding: 20px;
				border: 5px solid #fff;
				border-radius: 50%;
				transition: 0.5s;
			}
			#skuld img:hover {
				background: #005599;
			}
			#skuld h2 {
				text-align: center;
				color: #eee;
				margin-top: 0.5em;
				font-size: 20pt;
				font-family: "Titillium Web";
				opacity: 0;
			}
	#verdandi {
	}
		#verdandi ul {
			list-style-type: none;
			margin-top: 25px;
			display: flex;
			justify-content: center;
			opacity: 0;
		}
			#verdandi ul li {
				display: inline-block;
				border: 3px solid transparent;
				margin: 0 0.5em;
				padding: 5px;
				transition: 0.5s;
				cursor: pointer;
			}
			#verdandi ul li:hover {
				border: 3px solid #005599;
				border-radius: 50%;
				background: #005599;
			}
				#verdandi ul li i {
					font-size: 20pt;
					text-align: center;
					width: 60px;
					height: 60px;
					line-height: 60px;
					border-radius: 50%;
					background: #fff;
					color: #003366;
					transition: 0.5s;
				}

/* animation */
#skuld {
	animation: manifest-skuld 2s linear 0.5s 1 forwards;
}
#skuld h2 {
	animation: engrave 1s linear 1s 1 forwards;
}
#zwei {
	animation: ascente-skuld 1s linear 2.5s 1 forwards;
}
#verdandi ul {
	animation: manifest-verdandi 1s linear 2.5s 1 forwards;
}
#skuld img {
	animation: requiem 128s linear 4s infinite;
}

