@charset "utf-8";

html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
}
	header {
	}
		header nav {
			position: absolute;
			top: 1em;
			left: 1em;
			border: 8px solid transparent;
			cursor: pointer;
			transition: 0.5s;
			z-index: 100;
		}
		header nav:hover {
			border: 8px solid #005599;
			border-radius: 50%;
			background: #005599;
		}
			#btn-menu-open, #btn-menu-close {
				font-size: 25pt;
				width: 83px;
				height: 83px;
				color: #003366;
				background: #ddd;
				border-radius: 50%;
				text-align: center;
				line-height: 83px;
			}
			#btn-menu-close {
				display: none;
			}

	article#eins {
	}
		#eins * {
			color: #ccc;
		}
		#eins ul {
		}
		#urd {
			width: 300px;
			height: 100%;
			position: absolute;
			z-index: 50;
			float: left;
			margin-top: 120px;
			opacity: 0;
		}
			#urd ul {
				list-style-type: none;
				margin: 0;
				padding-top: 1em;
				padding-left: 30px;
			}
				#urd ul li {
					border-bottom: 3px dotted #999;
				}
					#urd ul li a {
						padding: 1.5em 0.5em;
						display: block;
						font-size: 15pt;
						text-decoration: none;
						transition: 1s;
					}
						#urd ul li a i {
							font-size: 15pt;
							margin-right: 1em;
							width: 1em;
							transition: 1s;
						}
						#urd ul li a:hover {
							margin-left: 1em;
						}
						#urd ul li a:hover i{
							transform: rotate(360deg);
						}

		#urd-arc {
			width: 0;
			height: 150%;
			background: #002255;
			position: absolute;
			top: -25%;
			border-radius: 0 50% 50% 0;
			box-shadow: 0 0 10px 5px #001144 inset;
			z-index: 10;
		}
	article#zwei {
		position: absolute;
		top: 0px;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 550px;
		height: 300px;
	}

		#skuld {
			opacity: 0;
		}
		#skuld:before, #skuld:after {
			content: "";
			position: absolute;
			display: inline-block;
		}
		#skuld:before {
			border-left: 1px solid #ddd;
			border-top: 1px solid #ddd;
			left: 0;
			top: 0;
		}
		#skuld:after {
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			right: 0;
			bottom: 0;
		}
			#skuld div:first-child {
				text-align: center;
			}
			#skuld img {
				width: 200px;
				padding: 20px;
				border: 5px solid #ddd;
				border-radius: 50%;
				transition: 0.5s;
			}
			#skuld img:hover {
				background: #005599;
			}
			#skuld h2 {
				text-align: center;
				color: #eee;
				font-size: 25pt;
				font-family: "Titillium Web";
				opacity: 0;
			}
	#verdandi {
	}
		#verdandi ul {
			list-style-type: none;
			margin-top: 25px;
			display: flex;
			justify-content: center;
			opacity: 0;
		}
			#verdandi ul li {
				display: inline-block;
				border: 3px solid transparent;
				margin: 0 1em;
				padding: 5px;
				transition: 0.5s;
				cursor: pointer;
			}
			#verdandi ul li:hover {
				border: 3px solid #005599;
				border-radius: 50%;
				background: #005599;
			}
				#verdandi ul li i {
					font-size: 20pt;
					text-align: center;
					width: 60px;
					height: 60px;
					line-height: 60px;
					border-radius: 50%;
					background: #ddd;
					color: #003366;
					transition: 0.5s;
				}

/* animation */
#skuld {
	animation: manifest-skuld 2s linear 0.5s 1 forwards;
}
#skuld h2 {
	animation: engrave 1s linear 1s 1 forwards;
}
#skuld:before, #skuld:after {
	animation: mjolnir 1s linear 2.5s 1 forwards;
}
#zwei {
	animation: ascente-skuld 1s linear 3.5s 1 forwards;
}
#verdandi ul {
	animation: manifest-verdandi 1s linear 3.5s 1 forwards;
}
#skuld img {
	animation: requiem 128s linear 5s infinite;
}

