@charset "utf-8";

html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
}
		header nav {
			border: 8px solid transparent;
		}
		header nav:hover {
			border: 8px solid #222;
			background: #222;
			border-radius: 50%;
		}



