@charset "utf-8";

html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
}
		header nav {
			border: 8px solid transparent;
		}
		header nav:hover {
			border: 8px solid #444;
			background: #222;
			border-radius: 50%;
		}

	#ragnarok {
		width: 600px;
		height: 600px;
	}

